* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
