.contactPage {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.contactPageTitle {
  font-size: 5rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.clientDesc {
  font-weight: 100;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.85);
  padding: 0 0.5rem;
}
.clientImgs {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
.clientImg {
  object-fit: cover;
  width: 23%;
  min-width: 9rem;
  margin: auto;
  padding: 0.25rem;
}
.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  max-width: 65rem;
}
.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(40, 40, 40);
}
.submitBtn {
  background-color: white;
  margin: 1rem;
  padding: 0.75rem 3.5rem;
  border: none;
  border-radius: 0.5rem;
}
.links {
  display: flex;
  flex-wrap: wrap;
}
.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
@media screen and (max-width: 1140px) {
  .clientDesc {
    font-size: 2vw;
    max-width: 85%;
    margin: 0 auto;
    /* padding: 0 1.5rem; */
  }
  .contactPageTitle {
    font-size: 5vw;
  }
  .clientImg {
    width: 40%;
    margin: 1rem;
  }
  .clientImgs {
    display: flex;
    justify-content: center;
  }
}
