.navbar {
  margin: 0 auto;
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(30, 30, 30);
  /* box-shadow: 0px 10px 10px 10px rgb(30, 30, 30) ; */
}
.logo {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
}
.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  /* transition: 0.2s ease-in-out; */
}
.desktopMenuListItem:hover {
  color: yellow;
  border-bottom: 4px solid yellow;
  padding-bottom: 0.5rem;
  /* transition: 0.2s ease-in; */
}

.desktopMenuBtn {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  /* padding: 0 1rem ; */
  padding-right: 0.9rem;
}

.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}

.active {
  color: yellow;
  border-bottom: 3px solid yellow;
  padding-bottom: 0.5rem;
}
